@import './about.less';
@import './board.less';
@import './colors.less';
@import './teams.less';
@import './dimensions.less';
@import './errors.less';
@import './eventDetails.less';
@import './eventList.less';
@import './filteredListPage.less';
@import './footer.less';
@import './frontpage.less';
@import './header.less';
@import './infobox.less';
@import './jobofferList.less';
@import './legalNotice.less';
@import './mediaquery.less';
@import './profile.less';
@import './studydocList.less';

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;

  @media @tablet, @mobile {
    font-size: 18px;
  }

  > div {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'content'
      'footer';
  }
}

section {
  width: 100%;

  &.blue {
    background-color: @color-dark-blue;
  }

  &.grey {
    background-color: @color-grey;
  }

  > * {
    max-width: @dimension-max-content-width;
    padding: 0 1em;
    margin: 0 auto;
  }
}

main {
  width: 100%;

  > * {
    max-width: @dimension-max-content-width;
    padding: 0 1em;
    margin: 0 auto;
  }
}

h1 {
  margin: 2em 0;
}

.centered {
  text-align: center;
}
