#event-list {
  .list-item {
    border-bottom: 1px solid #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .event-title {
      width: 100%;
      padding: 1em .4em;

      h2 {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 1em;
        color: #004398;
      }

      span {
        margin: .5em 1em 0 0;
        font-size: .8em;
        font-weight: 100;
        color: rgb(107, 108, 119);
      }

      div {
        display: flex;
        justify-content: space-between;
      }
    }

    img {
      width: 25%;
    }
  }

  .registration {
    background-color: #fff;
  }

  .upcoming {
    background-color: #ddd;
  }

  .past {
    background-color: #bbb;
  }
}
