footer {
  color: #fff;

  div {
    padding: 1.5em 0;
    width: 100%;
    text-align: center;

    .copyright {
      padding-right: 1em;
      border-right: 1px solid #fff;
    }

    a {
      margin-left: 1em;
      color: #fff;
      text-decoration: none;
    }
  }
}
