#frontpage-container {
  // Grid general settings
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  align-content: center;
  text-align: center;
  border: none;

  h2 {
    text-align: left;
    font-size: 2em;
    font-weight: normal;
    color: #333;
    grid-column: ~'1 / 13';
    margin: 10px 0 0;
  }

  // Hot sector on the frontpage
  .hot-row {
    // Grid of 12 frame colums
    grid-column: ~'1 / 13';
    grid-row-start: 1;
    margin-top: 40px;

    // Grid declaration for sub items, 2 frame columns
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border: none;

    .hot-first-card {
      background-color: #f00;
      grid-column: ~'1 / 3';
      grid-row: ~'1 / 3';
      padding-top: (9 / 16) * 100%;
      position: relative;
      height: 0;
    }

    .hot-card {
      grid-column: ~'3 / 4';
      position: relative;
    }
  }

  .frontpage-row {
    grid-column: ~'1 / 13';

    // Grid declaration for sub items, 3 frame columns
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .frontpage-row-card {
      padding-top: (9 / 16) * 100%;
      position: relative;
      height: 0;
    }
  }
}
