#profile-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  align-content: center;
  text-align: center;
  border: none;

  #user-info {
    grid-column: ~'1 / 13';
    grid-row: ~'1 / 2';
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
  }

  #change-password {
    grid-column: ~'1 / 7';
    grid-row: ~'2 / 5';
  }

  #rfid {
    grid-column: ~'1 / 7';
    grid-row: ~'5 / 6';
  }

  #announce-subscription {
    grid-column: ~'7 / 13';
    grid-row: ~'2 / 3';
  }

  #sessions {
    grid-column: ~'7 / 13';
    grid-row: ~'3 / 4';
  }

  #groupmemberships {
    grid-column: ~'7 / 13';
    grid-row: ~'4 / 6';
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #groups {
    grid-column: ~'7 / 13';
    grid-row: ~'6 / 8';
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#group-search {
  grid-row: ~'1 / 2';
  grid-column: ~'1 / 4';
}

#group-list {
  grid-row: ~'2 / 3';
  grid-column: ~'1 / -1';

  .group-entry {
    grid-column: ~'1 / -1';
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .group-name {
      grid-column: ~'1 / 2';
    }

    .group-expiry {
      grid-column: ~'2 / 3';
    }

    .group-button {
      grid-column: ~'3 / 4';
    }
  }
}
