#studydoc-list {
  div.list-item {
    display: grid;
    grid-template-columns: auto 20% 40%;
    grid-row-gap: 5px;

    &:first-of-type {
      font-weight: bold;
      border-bottom: solid 1px #000;
    }
  }
}
