@import './colors.less';
@import './images.less';

.teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-content: center;
  text-align: center;
  border: none;
  margin-bottom: 3em;

  @media @tablet {
    grid-template-columns: 1fr 1fr;
  }

  @media @mobile {
    grid-template-columns: 1fr;
  }
}

.team {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid @color-grey;

  .description {
    text-align: justify;

    p { margin: .5em; }
  }

  .contact {
    background-color: @color-grey;
    padding: .5em;
    height: 5em;

    > * {
      display: block;
      padding: .25em 0;
    }

    a {
      text-decoration: none;
      color: @color-dark-blue;
    }
  }
}
