.card {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  background-size: cover;
  background-position: centre-centre;

  .card-title {
    font-size: 32px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    padding: 20px 0 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
